<html>
    <head>
        <title>
            Stock Portfolio
        </title>
    </head>
    <body>
        <form method="get" action="/api">
            Enter Symbol<input type="text" name="txtAdd"></br>
            <button>Add</button>
        </form>
    </body>
</html>